<section class="footer">
    <footer>
        <div class = "footer_div">  
           <p class="copyright text-muted">
            Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} Theme by <a href="https://jtbadbb.github.io/">jtbadbb</a> |
            <a href="https://github.com/{{site.social.github}}" title="@{{site.social.github}} 的 Github" target="_blank">
              <i class='social fa fa-github fa-2x'></i>
            </a>
            </p>
        	<div align="right">
    			<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
        </div>
        <div>
    </footer>
</section>
